$blue: #0984e3;
$light-blue:rgb(116, 149, 233);
$black: #333;
$white: #fff;
$red: red;
$crimson: crimson;
$gold: gold;
$light-black: #666;
$light-bg: #eee;
$border: 1px solid $black;
$box-shadow: 0 .4rem 1rem rgba(0,0,0,0.2);




