*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  text-decoration: none;
}